$black:#0e192c;
$white:#f0f0f0;
$key1:#186ad4;


///@at-root


//reset
select{
    outline:none;
    -moz-appearance: none;
    text-indent: 0.5em;
    text-overflow: '';
    background: none transparent;
    vertical-align: middle;
    font-size: 3vw;
    color: inherit;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 10vw;
    padding: 0vw 3vw;
    line-height: 5vw;
    border:1px solid $white;
    text-align: center;
    width:100%;
    border-radius:3px;
    font-weight:bold;
  
    
}
select option{
   
  background-color:none;
  color:$white;
  display: block;
  width: 100%;
  
  
}
select::-ms-expand {
  display: none;
}
select:-moz-focusring { 
  color: transparent; 
  text-shadow: 0 0 0 #828c9a;
}

//reset

* {
    font-family: 'Roboto', "游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,sans-serif;

    margin: 0;
    padding: 0;
    //font-family: "Noto Sans JP", sans-serif;
    text-align: center;
    color:$white;
  }
  html{
    min-height: 100%;
  }

  body{
      
    background: $black;
    background-size:cover; 
    padding:10vw;
    min-height: 100%;
      
  }
  h1{
    text-indent: 1em;
      font-size: 5vw;
      margin-bottom:5vw;
      letter-spacing:1em;
      text-align: center;
      line-height: 1;
      //width:55vw;
      span{
        font-size: 3vw;
        letter-spacing:0.25em;
        text-indent:0.25em;
        text-align:justify;
        font-weight: normal;
      }
  }

  h2{
    font-size: 15vw;
  }

  hr{
    border:none;
    height: 1px;
    background:$white ;
    margin:5vw auto; 
    

  }

p.description{
  display: flex;
  justify-content: space-between;
  letter-spacing: 0.4em;
  text-indent: 0.4em;
  margin-bottom:2vw;
  span{
    font-size: 3vw;
    width:38vw;
    display: block;
    font-weight:bold;
  }
  
}
div#select-wrapper{

    display: flex;
    align-content: center;
    justify-content:space-between;

    div.date{width: 38vw;}
    div.time{width: 38vw;}
    span{display: block}
    

}
.select-wrap{
    position:relative;

display: block;


};
.select-wrap:before {
    z-index: 1;
    position: absolute;
    right: 15px;
    line-height: 10vw;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
  font-weight: 900;
  pointer-events: none;
}

 #submit{
    font-weight: bold;
      border-radius: 3px;
      background: $white;
      font-size: 5vw;
      display: block;
      color:$black;
      width:80vw;
      height: 12vw;
      margin: 5vw auto;
      line-height: 12vw;


  }

  a#gc{
    font-weight: bold;
    border-radius: 3px;
    background: $key1;
    font-size: 5vw;
    display: block;
    color:$white;
    width:80vw;
    height: 12vw;
    line-height: 12vw;
    text-decoration: none;
    margin: 5vw auto;
    display: block;
}


span#now{
    font-size: 4vw;
}

p#output_wrap{margin:5vw auto;}

span#output_date{
    font-size: 4vw;
    font-weight: bold;
}
span#output_time{
    font-size: 8vw;
    font-weight: bold;
}

#allow{font-size: 5vw;
display: none;
}


@media screen and (min-width:480px) {
    *{
       
    }

    p.description{
  
      letter-spacing: 0.4em;
      text-indent: 0.4em;
      margin-bottom:2vh;
      -webkit-justify-content:space-between;
      justify-content:space-between;
      span{
        font-size: 2vh !important;
        width:48%;
        display: block;
        font-weight:bold;
      }
      
    }      

    h1{font-size:3vh;
        margin-bottom: 5vh;
        span{
          font-size: 2vh;
        }
      }
    h2#clock_time{font-size:10vh;}
    span#now{font-size:3vh;}
    #all_wrap{
   width: 50vw;
   margin: 0 auto;
    }
    body{
       padding:4vh;
    }
    hr{
        height: 1px;
        zoom:1;
        margin: 4vh 0;
    }

    div#select-wrapper{
        //justify-content: center;
        display: flex;

        .select-wrap:before {
            z-index: 1;
            position: absolute;
            right: 15px;
            line-height: 6vh;
            content: "\f107";
            font-family: "Font Awesome 5 Free";
          font-weight: 900;
          pointer-events: none;
        }
        .select-wrap{
            height: 6vh;
            line-height: 5vh;
            border: none;
            font-size:3vh;
            //font-size:8vw;

            .select-wrap:before {
    z-index: 1;
    position: absolute;
    right: 15px;
    line-height: 10vw;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
  font-weight: 900;
  pointer-events: none;
}

  
           
    select{
        height: 6vh;
           line-height: 5vh;
           font-size:3vh;
           text-indent:0.5em;
           padding-left:0;
    }
            
        }
        .date{ width: 48% !important;
            

        }
        .time{ width: 48% !important;

        }
    }
    
    #submit{
       
          font-size: 3vh;
          display: block;
          color:$black;
          width:20vw;
          height: 8vh;
          margin: 4vh auto;
          line-height: 8vh;
    
    
      }
    
      a#gc{
        font-size: 3vh;
          display: block;
          color:$white;
          width:20vw;
          height: 8vh;
          margin: 4vh auto;
          line-height: 8vh;
    }
p#output_wrap{
    margin: 4vh auto;
}

    span#output_date{
        font-size: 4vh;
        font-weight: bold;
    }
    span#output_time{
        font-size: 8vh;
        font-weight: bold;
    }
    
    
    #allow{font-size: 3vh;
        
        }


}